<nav>
  <ul>
    <!-- <li><a href="/users/<%= user.id%>">home</a></li> -->
    <li><a href="/users/<%= user.id%>/users">Users</a></li>
    <li> <a href="/users/<%= user.id%>/posts">Posts</a></li>
    <li><a href="/users/<%= user.id%>/tags">Tags</a></li>
    <li><a href="/logout">Log Out</a></li>

  </ul>
</nav>