<%- include('../partials/header') %>
  <h1>Tag Add Form</h1>
  <form method="POST">
    <label>Tag Name</label>
    <br>
    <input type="text" name="nameTag">
    <br>
    <br>
    <input type="submit" value="Save" >
    <a href="/tags"> Cancel </a>
  </form>
</body>
</html>