<%- include('../partials/header') %>

<h1 style="text-align: center; color: black; font-size: 50px; margin-top: 100px;">List Users</h1>

<table class="table table-info">
  <thead class="thead-dark">
    <tr>
      <th scope="col">username</th>
      <th scope="col">first_name</th>
  </thead>
  <tbody>
    <% users.forEach(el => { %>
      <tr>
        <td><%= el.username %> </td>
        <td><%= el.first_name %> </td>
    </tr>
  <% })%>
</table>
</body>
</html>